body {
    background-color: darkgray;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

